@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --cor-do-fundo: Bebas Neue;
}

body{
    animation: fadeIn 2s;
    margin: 0;
    padding: 0;

}

#container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%; 
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 70px;
    text-align: center;
    font-family: var(--cor-do-fundo);
    color: blue;
    padding: 20px;
}

#verstappen {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 18px;
    display: flex;
    align-items: center;
    font-size: 26px;
    gap: 24px;
    filter: drop-shadow(10px 2px 2px solid black);
    animation:slideInFromLeft 2s ease-out forwards;
    box-shadow: 2px 2px 10px black;
    width: 90%;
    margin: auto;
    color: black;
    
}

#imagem {
    filter: drop-shadow(6px 6px  6px 8px solid white);
    background-image: url(../src/assets/img/verstappen\ banner.jpg);
    background-size: cover; /* Faz com que a imagem cubra toda a área */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    background-position: center; /* Centraliza a imagem */
    width: 100%; /* Garante que ocupa toda a largura */
    height: 400px; /* Define a altura do bloco */
}

@keyframes fadeIn{
    from {
      opacity: 0; /* Começa invisível */
      transform: translateX(-20%);
    }
    to {
      opacity: 1; /* Fica totalmente visível */
    }  
}